.icon-button {
  background-color: var(--app-bg);
  border: none;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background-color 0.3s;
}

.icon-button:hover {
  transform: scale(1.05);
  background-color: var(--app-bg-hover);
}

.icon {
  font-size: 20px;
  color: var(--text-color);
}
